.container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  font-size: 2.5em;
  color: #000;
  margin-bottom: 20px;
}

.list-container,
.form-container {
  margin-bottom: 30px;
}

h2 {
  font-size: 2em;
  color: #333;
  margin-bottom: 15px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background: #f9f9f9;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  background-color: #e64a19;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 5px;
}

button:hover {
  background-color: #e64a19;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
}

button[type="submit"] {
  background-color: #e64a19;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #e64a19;
}
.mensagem-erro {
  color: red;
  margin-top: 10px;
}

.mensagem-sucesso {
  color: green;
  margin-top: 10px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: inline-block;
  width: 120px;
  text-align: right;
  margin-right: 10px;
}

.form-group input {
  width: 200px;
  padding: 5px;
}
.error {
  color: red;
  font-size: 0.875em;
  margin-top: 5px;
}
