<div class="container">
  <div id="search-container">
    <h1>Gerenciar Fundos</h1>

    <div>
      <input [(ngModel)]="codigoPesquisa" name="codigoPesquisa" placeholder="Pesquisar por código" />
      <button (click)="pesquisarFundo()">Pesquisar</button>
      <button (click)="carregarFundos()">Carregar Todos os Fundos</button>
    </div>
    <span *ngIf="mensagemErro" class="mensagem-erro">{{ mensagemErro }}</span>
  </div>

  <div id="table-container" *ngIf="fundos.length > 0">
    <h2>Fundos Cadastrados</h2>
    <table>
      <thead>
        <tr>
          <th>Código</th>
          <th>Nome</th>
          <th>CNPJ</th>
          <th>Tipo</th>
          <th>Patrimônio</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let fundo of fundos">
          <tr *ngIf="!fundoSelecionado || fundo === fundoSelecionado">
            <td>{{fundo.codigo}}</td>
            <td>{{fundo.nome}}</td>
            <td>{{fundo.cnpj}}</td>
            <td>{{fundo.codigoTipo}} - {{fundo.nomeTipo}}</td>
            <td>{{fundo.patrimonio | currency:'BRL'}}</td>
            <td id="table-actions">
              <button (click)="selecionarFundo(fundo)">Editar</button>
              <button (click)="excluirFundo(fundo.codigo)">Excluir</button>
              <button (click)="prepararAtualizarPatrimonio(fundo)">Atualizar patrimônio</button>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>

  <div class="form-container" *ngIf="fundoSelecionado && !atualizacaoPatrimonioVisivel">
    <h2>Editar Fundo</h2>
    <form (ngSubmit)="atualizarFundo()" #fundoAtualizacaoForm="ngForm">
      <div class="form-group">
        <div class="form-input-label">
          <label for="codigo">Código:</label>
          <input id="codigo" [(ngModel)]="fundoSelecionado.codigo" name="codigo" placeholder="Código" disabled>
        </div>
      </div>

      <div class="form-group">
        <div class="form-input-label">
          <label for="nome">Nome:</label>
          <input id="nome" [(ngModel)]="fundoSelecionado.nome" name="nome" placeholder="Nome" required>
        </div>
        <div *ngIf="fundoSelecionado.nome == ''" class="erro">
          O campo Nome é obrigatório.
        </div>
      </div>

      <div class="form-group">
        <div class="form-input-label">
          <label for="cnpj">CNPJ:</label>
          <input id="cnpj" [(ngModel)]="fundoSelecionado.cnpj" name="cnpj" placeholder="CNPJ" required>
        </div>

        <div *ngIf="fundoSelecionado.cnpj == ''" class="erro">
          O campo CNPJ é obrigatório.
        </div>
      </div>

      <div class="form-group">
        <div class="form-input-label">
          <label for="codigoTipo">Código Tipo:</label>
          <input id="codigoTipo" [(ngModel)]="fundoSelecionado.codigoTipo" name="codigoTipo" placeholder="Código Tipo" type="number" required>
        </div>

        <div *ngIf="fundoSelecionado.codigoTipo == null" class="erro">
          O campo Código Tipo é obrigatório.
        </div>
      </div>

      <div class="form-group">
        <div class="form-input-label">
          <label for="patrimonio">Patrimônio:</label>
          <input id="patrimonio" [(ngModel)]="fundoSelecionado.patrimonio" name="patrimonio" placeholder="Patrimônio" type="number" required>
        </div>

        <div *ngIf="fundoSelecionado.patrimonio == null" class="erro">
          O campo Patrimônio é obrigatório.
        </div>
      </div>

      <button type="submit" [disabled]="!fundoAtualizacaoForm.form.valid">Atualizar Fundo</button>
    </form>
    <div *ngIf="mensagemRetorno" class="mensagem-retorno">{{ mensagemRetorno }}</div>
  </div>

  <div class="patrimonio-update-container" *ngIf="atualizacaoPatrimonioVisivel">
    <h3>Atualizar Patrimônio</h3>
    <form (ngSubmit)="atualizarPatrimonio()">
      <input [(ngModel)]="valorPatrimonio" name="valorPatrimonio" placeholder="Valor" type="number" required>
      <button type="submit">Atualizar Patrimônio</button>
      <div *ngIf="mensagemRetorno" class="mensagem-retorno">
        {{ mensagemRetorno }}
      </div>
    </form>
  </div>
</div>
