<!-- src/app/fundo-cadastro/fundo-cadastro.component.html -->
<div class="form-container">
  <h2>Adicionar Novo Fundo</h2>
  <form (ngSubmit)="incluirFundo()" #fundoForm="ngForm">
    <div class="form-group">
      <label for="codigo">Código</label>
      <input id="codigo" [(ngModel)]="novoFundo.codigo" name="codigo" placeholder="Código" required #codigo="ngModel">
      <div *ngIf="codigo.invalid && (codigo.dirty || codigo.touched)" class="error">
        Código é obrigatório.
      </div>
    </div>
    <div class="form-group">
      <label for="nome">Nome</label>
      <input id="nome" [(ngModel)]="novoFundo.nome" name="nome" placeholder="Nome" required #nome="ngModel">
      <div *ngIf="nome.invalid && (nome.dirty || nome.touched)" class="error">
        Nome é obrigatório.
      </div>
    </div>
    <div class="form-group">
      <label for="cnpj">CNPJ</label>
      <input id="cnpj" [(ngModel)]="novoFundo.cnpj" name="cnpj" placeholder="CNPJ" required #cnpj="ngModel">
      <div *ngIf="cnpj.invalid && (cnpj.dirty || cnpj.touched)" class="error">
        CNPJ é obrigatório.
      </div>
    </div>
    <div class="form-group">
      <label for="codigoTipo">Código Tipo</label>
      <input id="codigoTipo" [(ngModel)]="novoFundo.codigoTipo" name="codigoTipo" placeholder="Código Tipo" type="number" required #codigoTipo="ngModel">
      <div *ngIf="codigoTipo.invalid && (codigoTipo.dirty || codigoTipo.touched)" class="error">
        Código Tipo é obrigatório.
      </div>
    </div>
    <div class="form-group">
      <label for="nomeTipo">Nome Tipo</label>
      <input id="nomeTipo" [(ngModel)]="novoFundo.nomeTipo" name="nomeTipo" placeholder="Nome Tipo" required #nomeTipo="ngModel">
      <div *ngIf="nomeTipo.invalid && (nomeTipo.dirty || nomeTipo.touched)" class="error">
        Nome Tipo é obrigatório.
      </div>
    </div>
    <div class="form-group">
      <label for="patrimonio">Patrimônio</label>
      <input id="patrimonio" [(ngModel)]="novoFundo.patrimonio" name="patrimonio" placeholder="Patrimônio" type="number" required #patrimonio="ngModel">
      <div *ngIf="patrimonio.invalid && (patrimonio.dirty || patrimonio.touched)" class="error">
        Patrimônio é obrigatório.
      </div>
    </div>
    <button type="submit" [disabled]="!fundoForm.form.valid">Adicionar Fundo</button>
    <!-- Mensagens -->
    <div *ngIf="mensagemErro" class="error-message">
      {{ mensagemErro }}
    </div>
    <div *ngIf="mensagemSucesso" class="success-message">
      {{ mensagemSucesso }}
    </div>
  </form>
</div>
